.title{
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    color: #000
}

.title::before{
    content: '';
    position: absolute;
    height: .2rem;
    top: 2rem;
    width: 3rem;
    
    background-color: #000;

}